/*************************************** VARIABLE ***************************************/
:root {
    --btn-sm: 1rem;
    --btn-md: 2rem;
    --btn-lg: 3rem;

    --edge-near: 2%;
}


/*************************************** GLOBAL ***************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1616;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(77, 123, 252);
    transition: .5s ease;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px rgb(77, 123, 252);
}

/*************************************** CLASSES ***************************************/

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    opacity: .8;
}
.btn:hover {
    opacity: 1;
}

.btn-sm {
    font-size: var(--btn-sm);
}
.btn-md {
    font-size: var(--btn-md);
}
.btn-lg {
    font-size: var(--btn-lg);
}

/*************************************** SLIDER ***************************************/

.slider-ctr {
    position: relative;
    border: 1px solid #eee;
    overflow: hidden;
}

.main-slider {
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
}

/* CONTROLS */
.slider-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider-controls .btn {
    position: absolute;
    z-index: 5;
}

.btn * {
    pointer-events: none;
}

.btn-slider {
    background: #fff;
    opacity: .5;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-slider i {
    font-size: 1.5rem;
    color: #222;
}

.slider-controls .left {
    left: var(--edge-near);
}

.slider-controls .right {
    right: var(--edge-near);
}

/* GALLERY */
.slider-gallery {
    position: absolute;
    width: 820px;
    height: 410px;
}

.slider-gallery img {
    width: 100%;
    height: 100%;
}

/* SLIDER THUMBS */
.slider-thumbs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(20,20,20,.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.desc-gallery {
    display: none;
}

.thumbs-title {
    font-size: 1rem;
    color: #eee;
    font-weight: bold;
}

.thumbs-desc {
    font-size: .8rem;
    margin-top: .4rem;
    color: #ddd;
}

.thumbs-link {
    font-size: .8rem;
    margin-top: .4rem;
}

.desc-gallery.show {
    display: block;
}

.thumbs {
    display: flex;
    gap: .5rem;
}

.thumbs-gallery {
    opacity: .8;
    cursor: pointer;
}

.thumbs-gallery:hover {
    opacity: 1;
}

.thumbs-gallery.active {
    border: 1px solid rgb(77, 123, 252);
    opacity: 1;
}

.thumbs-gallery img {
    width: 66px;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


/* SLIDER DIMENSION*/
.slider-desktop {
    width: 820px;
    height: 410px;
}